/ about bootstrap
= render :template => 'pages/_about'

/ tabs and ppills
= render :template => 'pages/_tabs_and_pills'

/ layouts
= render :template => 'pages/_layouts'

/ popovers
= render :template => 'pages/_popovers'

/ pagination
= render :template => 'pages/_pagination'

/ alerts & errors
= render :template => 'pages/_alerts_and_errors'

/ tables
= render :template => 'pages/_tables'


